

.cart-card__wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
}

.cart-card__event {
    border: 1px solid var(--pink-text-color);
    border-radius: 3px 3px 0px 0px;
}

.cart-card__buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.minus--left {
    border-radius: 0px 0px 0px 3px;    
}

.plus--right {
    border-radius: 0px 0px 3px 0px;
}