
.booking__card {
    margin: 3rem 0;
}

.event-title--sansita {
    font-family: var(--sansita-font);
    color: var(--pink-text-color);
    font-size: 35px;
}

.event-date-and-time {
    color: var(--event-price-color);
    font-family: var(--event-price-font);
}

.amount{
    display: grid;
    /* max-width: 300px; */
    /* height: 300px; */
    grid-template-areas:
        'amount amount amount'
        'amount amount amount'
        'minus total plus';
    grid-template-columns: 50px 100px 50px;
    grid-template-rows: 43px 43px 43px;
    justify-content: center;
    /* border: solid 1px var(--pink-text-color); */
}

.total-amount {
    color: var(--event-title-color);
    font-family: var(--event-title-font);
    font-size: 32px;
    text-shadow: var(--event-title-shadow);
}

.total-amount__wrapper {
    grid-area: amount;
    border: solid 1px var(--pink-text-color);
    align-self: center;
    padding: 25px 10px 25px 10px;
}

.minus,
.total,
.plus {
    color: var(--event-date-color);
    justify-self: center;
    align-self: center;
    font-family: var(--event-price-font);
    font-size: 28px;
    
}

.minus {
    grid-area: minus;
    border: solid 1px var(--pink-text-color);
    padding: 10px;
}

.total {
    grid-area: total;
    border: solid 1px var(--pink-text-color);
    padding: 10px;
}

.plus {
    grid-area: plus;
    border: solid 1px var(--pink-text-color);
    padding: 10px;
}

.add-to-cart__btn {
    justify-self: center;
    margin: 4rem auto;
    border: none;
    border-radius: 3px;
    background-color: var(--btn-color);
    padding: 1rem 3.5rem;
    color: white;
    font-family: var(--fira-sans);
    font-size: 22px;
}