
.cart-page__wrapper {
    padding-top: 3rem;
    text-align: center;
}

.cart-page__title {
    color: var(--pink-text-color);
    font-family: var(--sansita-font);
    text-align: center;
    font-size: 32px;
    margin-bottom: 3rem;
}

.cart-item__container {
    min-height: 60vh;
}

.price-section {
    margin-top: .5rem;
}

.cart-page__price-text {
    font-family: var(--fira-sans);
    font-style: italic;
    color: var(--event-time-color);
}

.cart-page__price {
    font-family: var(--fira-sans);
    font-weight: 700;
    font-size: 32px;
    text-shadow: var(--event-title-shadow);
    padding-bottom: 5rem;
}